---
layout: default
published: true
---

<div align="center" style="font-size:1rem"><span><a href="/Interglossa" class="pure-button button-success button-large">Interglossa documented&nbsp;<i class="fa fa-chevron-right"></i></a></span>&nbsp;<span><a href="/Glosa" class="pure-button button-success button-large">Glosa documented&nbsp;<i class="fa fa-chevron-right"></i></a></span></div>

<h1>{{ page.title}}</h1>
<p class="subtitle">{{ page.date | date: "%B %-d, %Y" }}</p>


{{ content }}

<div align="center" style="font-size:1rem"><span><a href="/Interglossa" class="pure-button button-success button-large">Interglossa documented&nbsp;<i class="fa fa-chevron-right"></i></a></span>&nbsp;<span><a href="/Glosa" class="pure-button button-success button-large">Glosa documented&nbsp;<i class="fa fa-chevron-right"></i></a></span></div>
