---
layout: default
---

<h1>{{ page.title}}</h1>
{% if page.authorsite %}<p class="subtitle"><a href="{{ page.authorsite }}" target="_blank">{{ page.author }}</a>, {{ page.date | date: "%B %-d, %Y" }}</p>
{% else %}<p class="subtitle">{{ page.author }}{% if page.author %}, {% endif %}{{ page.date | date: "%B %-d, %Y" }}</p>{% endif %}

{{ content }}

{% if page.lexicon %}<script>
function lexiconInput() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("lexiconInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("lexicon");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>{% endif %}
